*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}
.add-item{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgb(84, 128, 84);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    outline: none;
}
.container{
    width: 300px;
    height: 300px;
    margin: 4rem;
}
header{
    width: 300px;
    background-color: rgb(84, 128, 84);
    display: flex;
    justify-content: flex-end;
}
header button{
    background-color: transparent;
    font-size: large;
    font-weight: bold;
    padding: 4px;
    margin: 2px;
    border-style: none;
    outline: none;
}
header button:hover{
    color: white;
    text-decoration: underline;
}
.text-area{
    height: 250px;
    width: 300px;
}
.text-area textarea{
    width: 100%;
    height: 100%;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    outline: none;
}
